# Copy this file to .env or set these variables in your OS.
# Do not commit real passwords.

APP_TITLE=AI Roll Counter
MODEL_DIR=models/best.engine

ENABLE_PALLET_MYSQL=false
PALLET_DB_HOST=YOUR_DB_HOST
PALLET_DB_USER=YOUR_DB_USER
PALLET_DB_PASSWORD=YOUR_DB_PASSWORD
PALLET_DB_NAME=YOUR_DATABASE

ENABLE_LOG_MYSQL=false
LOG_DB_HOST=YOUR_LOG_DB_HOST
LOG_DB_USER=YOUR_DB_USER
LOG_DB_PASSWORD=YOUR_DB_PASSWORD
LOG_DB_NAME=YOUR_LOG_DATABASE
